extends header.pug

block content
    form(action="/buy", method="post")
        div(class="form-group")
            label(for="symbol", class="font-weight-bold") Tickersymbol
            input(type="text", class="form-control", name="symbol", placeholder="Tickersymbol eingeben")
        div(class="form-group")
            label(for="shares", class="font-weight-bold") Anzahl Aktien
            input(type="text", class="form-control ", name="shares", placeholder="Anzahl Aktien")
        button(class="btn btn-primary" type="submit") Kaufen